$primaryColor: #23293b; 
$secondaryColor: #556842;
$accentColor: #766da7;
$greyColor: #ccc;

$defaultFont:"Fira Sans", sans-serif;
$lightWeight: 400;
$normalWeight: 300;
$leading: 150%;

$gutter: 10px;